.left {
  border-left-color: yellow;
  border-left-style: solid;
  border-left-width: 1vh;
}
.right {
  border-right-color: yellow;
  border-right-style: solid;
  border-right-width: 1vh;
}
.upper {
  border-top-color: yellow;
  border-top-style: solid;
  /* border-top-width: 1vh; */
}
