.left {
  border-left-color: gold;
  border-left-style: solid;
  border-left-width: 0.7vh;
}
.right {
  border-right-color: gold;
  border-right-style: solid;
  border-right-width: 0.7vh;
}
.upper {
  border-top-color: gold;
  border-top-style: solid;
  border-top-width: 0.7vh;
}
