.cont {
  width: 40vw;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 8px rgb(111, 109, 109);
  border-left-color: rgb(3, 174, 204);
  border-left-width: 1vh;
  border-left-style: solid;
}

.cont:hover {
  border-left-color: gold;
  box-shadow: 0 12px 18px rgb(111, 109, 109);
  transition: all ease-in-out 150ms;
}

@media (min-width: 800px) {
  .cont {
    text-align: center;
    width: 20vw;
    height: auto;
  }
  .batch-image {
    margin-top: auto;
  }
}

.batch-name {
  font-size: 1.2rem;
  font-weight: 800;
  color: black;
  /* color: rgba(251, 255, 0, 0.576); */
}

.batch-image {
  width: 4vh;
  border-radius: 3rem;
  float: left;
  box-shadow: 0 2px 12px rgb(111, 109, 109);
}
