* {
  text-align: center;
  /* place-items: center; */
  outline: none;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.form {
  margin: 20vh auto auto auto;
  width: fit-content;
  height: auto;
  padding: 4rem;
  border-radius: 1rem;
  background-color: rgb(219, 240, 236);
  font-size: 1.3rem;
  font-weight: 600;
  box-shadow: 0 2px 8px rgb(111, 109, 109);
}

.form:hover {
  box-shadow: 0 12px 48px rgb(60, 58, 58);
  transition: all ease-in-out 500ms;
}

.input {
  background-color: transparent;
  margin-left: 0.6rem;
  border-radius: 1rem;
  padding: 0.3rem;
  font-size: 0.8rem;
  border-width: 2px;
  border-style: solid;
  border-top-width: 0.4px;
  border-left-width: 0.4px;
  border-right-width: 0.4px;
  border-color: grey;
  border-bottom-color: gold;
  color: black;
  width: 30vw;
  text-decoration: none;
}

.td {
  text-decoration: none;
  color: black;
}

.submit {
  text-decoration: none;
  font-size: 1rem;
  width: auto;
  border-radius: 0.5rem;
  position: fixed;
  /* display: block; */
  /* float: right; */
  margin-top: 1rem;
  background-color: rgb(71, 211, 16);
  border-width: 0.3px;
  padding: 0.6rem;
  font-weight: 700;
  border-color: rgb(71, 211, 16);
  text-transform: capitalize;
  filter: drop-shadow(1px 1px 6px rgb(97, 95, 95));
}

.submit:hover {
  filter: drop-shadow(1px 1px 2px rgb(97, 95, 95));
  transition: all ease-in-out 200ms;
}
