* {
  text-align: center;
  /* place-items: center; */
  outline: none;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.form {
  margin: 20vh auto auto auto;
  width: 70vw;
  height: auto;
  padding: 3vh;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.53);
  font-weight: 600;
  filter: drop-shadow(10px 10px 20px grey);
  transition: all ease-in-out 500ms;
}

.form:hover {
  filter: drop-shadow(10px 10px 10px grey);
}

.input {
  background-color: transparent;
  margin-left: 0.6rem;
  border-radius: 0.1rem;
  padding: 0.3rem;
  font-size: 0.8rem;
  border-width: 2px;
  border-style: solid;
  text-align: left;
  border-top-width: 0.4px;
  border-left-width: 0.4px;
  border-right-width: 0.4px;
  border-color: transparent;
  border-bottom-color: gold;
  color: black;
  width: 30vw;
  text-decoration: none;
}

.td {
  text-decoration: none;
  color: black;
}

.submit {
  font-size: 2vh;
  padding: 0.5rem;
  margin-top: 2vh;
  width: auto;
  border-radius: 0.5rem;
  background: #1fd05d;
  padding: 1vh;
  border-color: transparent;
  color: white;
  font-weight: 900;
  filter: drop-shadow(10px 10px 10px rgb(205, 205, 205));
}

.submit:hover {
  background: #1fd05d;
  filter: drop-shadow(10px 15px 10px rgb(205, 205, 205));
}

.submit:hover {
  filter: drop-shadow(1px 1px 2px rgb(97, 95, 95));
  transition: all ease-in-out 200ms;
}
